# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [10]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import Google API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [23]:
# Set the file path to import the WeatherPy_database.csv file
file_path = "../Weather_Database/WeatherPy_database.csv"

# Load the CSV file into a Pandas DataFrame
city_data_df = pd.read_csv(file_path)

# Display sample data
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Yellowknife,CA,62.4560,-114.3525,33.57,80,22,15.01,few clouds
1,1,Norman Wells,CA,65.2820,-126.8329,29.03,93,100,5.06,overcast clouds
2,2,Mar Del Plata,AR,-38.0023,-57.5575,56.08,90,0,10.00,clear sky
3,3,Mataura,NZ,-46.1927,168.8643,56.48,44,100,4.61,overcast clouds
4,4,Sitka,US,57.0531,-135.3300,57.09,82,100,9.22,overcast clouds

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [24]:
# Prompt the user to enter the minimum temperature criteria
min_temp = float(input("What is the minimum temperature you would like for your trip? "))

# Prompt the user to enter the maximum temperature criteria
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [25]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) &
                                       (city_data_df["Max Temp"] >= min_temp)]
                                    
# Display sample data
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
8,8,Lazaro Cardenas,MX,17.9583,-102.2000,81.36,80,86,3.87,overcast clouds
12,12,Airai,TL,-8.9266,125.4092,77.92,39,32,2.71,scattered clouds
14,14,Sinnamary,GF,5.3833,-52.9500,78.82,85,97,8.23,overcast clouds
17,17,Isangel,VU,-19.5500,169.2667,84.31,74,40,6.91,scattered clouds
20,20,Vaini,TO,-21.2000,-175.2000,77.14,83,65,12.06,light rain
22,22,Butaritari,KI,3.0707,172.7902,81.37,74,16,14.70,few clouds
28,28,Hilo,US,19.7297,-155.0900,87.28,80,75,6.91,broken clouds
36,36,Axim,GH,4.8699,-2.2405,76.32,88,95,3.69,overcast clouds
42,42,Avarua,CK,-21.2078,-159.7750,77.05,73,100,10.36,overcast clouds
43,43,Georgetown,MY,5.4112,100.3354,84.13,73,20,0.00,few clouds

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [26]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_travel_cities = preferred_cities_df.dropna()

# Display sample data
clean_travel_cities.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
8,8,Lazaro Cardenas,MX,17.9583,-102.2000,81.36,80,86,3.87,overcast clouds
12,12,Airai,TL,-8.9266,125.4092,77.92,39,32,2.71,scattered clouds
14,14,Sinnamary,GF,5.3833,-52.9500,78.82,85,97,8.23,overcast clouds
17,17,Isangel,VU,-19.5500,169.2667,84.31,74,40,6.91,scattered clouds
20,20,Vaini,TO,-21.2000,-175.2000,77.14,83,65,12.06,light rain
22,22,Butaritari,KI,3.0707,172.7902,81.37,74,16,14.70,few clouds
28,28,Hilo,US,19.7297,-155.0900,87.28,80,75,6.91,broken clouds
36,36,Axim,GH,4.8699,-2.2405,76.32,88,95,3.69,overcast clouds
42,42,Avarua,CK,-21.2078,-159.7750,77.05,73,100,10.36,overcast clouds
43,43,Georgetown,MY,5.4112,100.3354,84.13,73,20,0.00,few clouds

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [27]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df = clean_travel_cities[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# Display sample data
hotel_df.head(10)

               City Country  Max Temp Current Description      Lat       Lng
8   Lazaro Cardenas      MX     81.36     overcast clouds  17.9583 -102.2000
12            Airai      TL     77.92    scattered clouds  -8.9266  125.4092
14        Sinnamary      GF     78.82     overcast clouds   5.3833  -52.9500
17          Isangel      VU     84.31    scattered clouds -19.5500  169.2667
20            Vaini      TO     77.14          light rain -21.2000 -175.2000
22       Butaritari      KI     81.37          few clouds   3.0707  172.7902
28             Hilo      US     87.28       broken clouds  19.7297 -155.0900
36             Axim      GH     76.32     overcast clouds   4.8699   -2.2405
42           Avarua      CK     77.05     overcast clouds -21.2078 -159.7750
43       Georgetown      MY     84.13          few clouds   5.4112  100.3354

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [28]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df["Hotel Name"] = ""

# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
8,Lazaro Cardenas,MX,81.36,overcast clouds,17.9583,-102.2000,
12,Airai,TL,77.92,scattered clouds,-8.9266,125.4092,
14,Sinnamary,GF,78.82,overcast clouds,5.3833,-52.9500,
17,Isangel,VU,84.31,scattered clouds,-19.5500,169.2667,
20,Vaini,TO,77.14,light rain,-21.2000,-175.2000,
22,Butaritari,KI,81.37,few clouds,3.0707,172.7902,
28,Hilo,US,87.28,broken clouds,19.7297,-155.0900,
36,Axim,GH,76.32,overcast clouds,4.8699,-2.2405,
42,Avarua,CK,77.05,overcast clouds,-21.2078,-159.7750,
43,Georgetown,MY,84.13,few clouds,5.4112,100.3354,

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [29]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [30]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make an API request and retrieve the JSON data from the hotel search
    hotels = requests.get(base_url, params=params).json()
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [31]:
# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
8,Lazaro Cardenas,MX,81.36,overcast clouds,17.9583,-102.2000,HOTEL QUINTA ANTIGUA
12,Airai,TL,77.92,scattered clouds,-8.9266,125.4092,
14,Sinnamary,GF,78.82,overcast clouds,5.3833,-52.9500,ALETHEIA Appartement Sinnamary
17,Isangel,VU,84.31,scattered clouds,-19.5500,169.2667,Tanna Lodge
20,Vaini,TO,77.14,light rain,-21.2000,-175.2000,Keleti Beach Resort
22,Butaritari,KI,81.37,few clouds,3.0707,172.7902,Isles Sunset Lodge
28,Hilo,US,87.28,broken clouds,19.7297,-155.0900,Hilo Hawaiian Hotel
36,Axim,GH,76.32,overcast clouds,4.8699,-2.2405,Axim Beach Resort And Spa
42,Avarua,CK,77.05,overcast clouds,-21.2078,-159.7750,Paradise Inn
43,Georgetown,MY,84.13,few clouds,5.4112,100.3354,Cititel Penang

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [33]:
# Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df[hotel_df["Hotel Name"]!=""] 

# Display sample data
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
8,Lazaro Cardenas,MX,81.36,overcast clouds,17.9583,-102.2000,HOTEL QUINTA ANTIGUA
14,Sinnamary,GF,78.82,overcast clouds,5.3833,-52.9500,ALETHEIA Appartement Sinnamary
17,Isangel,VU,84.31,scattered clouds,-19.5500,169.2667,Tanna Lodge
20,Vaini,TO,77.14,light rain,-21.2000,-175.2000,Keleti Beach Resort
22,Butaritari,KI,81.37,few clouds,3.0707,172.7902,Isles Sunset Lodge
28,Hilo,US,87.28,broken clouds,19.7297,-155.0900,Hilo Hawaiian Hotel
36,Axim,GH,76.32,overcast clouds,4.8699,-2.2405,Axim Beach Resort And Spa
42,Avarua,CK,77.05,overcast clouds,-21.2078,-159.7750,Paradise Inn
43,Georgetown,MY,84.13,few clouds,5.4112,100.3354,Cititel Penang
49,Dogondoutchi,NE,83.55,overcast clouds,13.6393,4.0287,Hôtel Alheri Maison Alheri

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [ ]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [34]:
# Set the file name.
output_data_file = "WeatherPy_vacation.csv"

# Create a CSV file by using the clean_hotel_df DataFrame
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [35]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [36]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

['\n<dl>\n<dt>Hotel Name</dt><dd>HOTEL QUINTA ANTIGUA</dd>\n<dt>City</dt><dd>Lazaro Cardenas</dd>\n<dt>Country</dt><dd>MX</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 81.36 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>ALETHEIA Appartement Sinnamary</dd>\n<dt>City</dt><dd>Sinnamary</dd>\n<dt>Country</dt><dd>GF</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 78.82 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Tanna Lodge</dd>\n<dt>City</dt><dd>Isangel</dd>\n<dt>Country</dt><dd>VU</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 84.31 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Keleti Beach Resort</dd>\n<dt>City</dt><dd>Vaini</dd>\n<dt>Country</dt><dd>TO</dd>\n<dt>Current Weather</dt><dd>light rain and 77.14 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Isles Sunset Lodge</dd>\n<dt>City</dt><dd>Butaritari</dd>\n<dt>Country</dt><dd>KI</dd>\n<dt>Current Weather</dt><dd>few clouds and 81.37 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hilo Hawaiian Hotel</dd>\n<dt>City</dt><dd>Hilo</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Current Weather</dt><dd>broken clouds and 87.28 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Axim Beach Resort And Spa</dd>\n<dt>City</dt><dd>Axim</dd>\n<dt>Country</dt><dd>GH</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 76.32 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Paradise Inn</dd>\n<dt>City</dt><dd>Avarua</dd>\n<dt>Country</dt><dd>CK</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 77.05 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Cititel Penang</dd>\n<dt>City</dt><dd>Georgetown</dd>\n<dt>Country</dt><dd>MY</dd>\n<dt>Current Weather</dt><dd>few clouds and 84.13 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hôtel Alheri Maison Alheri</dd>\n<dt>City</dt><dd>Dogondoutchi</dd>\n<dt>Country</dt><dd>NE</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 83.55 °F</dd>\n</dl>\n']

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [48]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

        Lat       Lng
8   17.9583 -102.2000
14   5.3833  -52.9500
17 -19.5500  169.2667
20 -21.2000 -175.2000
22   3.0707  172.7902
28  19.7297 -155.0900
36   4.8699   -2.2405
42 -21.2078 -159.7750
43   5.4112  100.3354
49  13.6393    4.0287

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [49]:
# Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Create a figure to add the Google map as a layer
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)

# Display the figure containing the map
fig

Figure(layout=FigureLayout(height='420px'))